body {
    background-color: orange;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 90%; /* aqui  */
    max-width: 400px;
    height: 500px;
    min-height: 350px;
    margin: 20px auto;
    margin-top: 150px;
    padding: 20px;
    border: 10px solid;
    border-radius: 7px;
    border-color: black;
    background-color: white;
}

main h1{
    color: crimson;
}

main p {
    font-weight: bold;
}


.buttonconvertstyle {
    font-size: 20px;
    margin-top: 25px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-color: red;
    border-radius: 5px;
    color: red;
    background-color: black;
}

.inputstyle {
    height: 25px;
    outline: none;
    border-radius: 5px;

}

.resultstyle {
    color: red;
    margin-top: 20px;
}

